@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Lato;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
section {
    display: flex;
}


/* nav menu section start */

.nav-menu-bar {
    background: url(./project-1/Rectangle\ 10.png); 
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.nav-background {
    width: 100%;
}
.background-color {
    background-color: rgba(12, 30, 68, 0.521);
    height: 60px;
}
.span-1 {
    font-size: 40px;
    color: rgb(0, 89, 255);
}
.span-2 {
    font-size: 20px;
    color: rgb(33, 69, 136);
    margin-left: 30px;
}
.left-nav-logo {
    margin-left: 200px;
}
.left-nav-logo b {
    font-size: 40px;
    color: #fff;;
}
.left-nav-logo i {
    color: rgba(233, 222, 222, 0.39);
    margin-left: 15px;
}
.right-nav-menu {
    margin-left: 1300px;
    margin-top: -30px;
}
.right-nav-menu li + li {
    padding-left: 40px;
}
.right-nav-menu li {
    float: left;
}
.right-nav-menu li a {
    display: inline-block;
    font-size: 16px;
    color: #fff;
}

/* nav menu section closed */

/* home-template section start */

.home-template {
    margin-top: -500px;
}
.left-side-text {
    width: 60%;
    margin-left: 350px;
}
.right-side-image {
    width: 40%;
    margin-left: 100px;
    margin-top: -70px;
}
.left-side-text h1 {
    color: #fff;
    font-size: 60px;
}
.dot-color {
    color: rgb(0, 89, 255);
}
.left-side-text h2 {
    font-size: 40px;
    color: whitesmoke;
}
.ceative-color {
    color: rgb(0, 89, 255);
}
.left-side-text p {
    color: whitesmoke;
    padding-top: 20px;
}
.left-side-text i {
    color: gray;
}
.left-side-text i + i {
    padding-left: 10px;
    padding-top: 40px;
}

/* home-template section closed */

/* second-section start */

.second {
    margin-top: 350px;
    margin-left: 820px;
}
.second h1 {
    color: rgb(0, 89, 255);
    margin-left: 55px;
}
.second img {
    padding-top: 25px;
}



/* second-section closed */

/* second page section start */


.second-page {
    margin-top: -150px;
    background-color: rgba(224, 224, 224, 0.568);
    padding-top: 300px;
}
.col-1 {
    width: 5%;
    height: 250px;
}
.col-2 {
    width: 30%;
    height: 250px;
    float: left;
    margin: 20px;
}
.col-3 {
    width: 30%;
    height: 250px;
    float: left;
    margin: 20px;
}
.col-4 {
    width: 30%;
    height: 250px;
    float: left;
    margin: 20px;
}
.col-5 {
    width: 5%;
    height: 250px;
}
.branding {
    margin-left: 50px;
    margin-top: -35px;
}
.development {
    margin-left: 50px;
    margin-top: -35px;
}
.consulting {
    margin-left: 50px;
    margin-top: -35px;
}

/* second page section closed */

/* paragrapgh section start */

.paragraph {
    margin-top: 120px;
    text-align: center;
    line-height: 30px;
}

/* paragrapgh section closed */

/* thard page section start */

.thard-page {
    margin-top: 80px;
    margin-left: 200px;
}

.thrad-col-2 {
    width: 33.33%;
    height: 700px;
    padding-top: 60px;
}
.thrad-col-3 {
    width: 33.33%;
    height: 700px;
}
.thrad-col-4 {
    width: 33.33%;
    height: 700px;
    padding-top: 60px;
}

.customize-1 {
    margin-left: 50px;
    margin-top: -35px;
    padding-bottom: 80px;
}
.timer-1 {
    margin-left: 50px;
    margin-top: -35px;
    padding-bottom: 80px;
}
.music-1 {
    margin-left: 50px;
    margin-top: -35px;
    padding-bottom: 80px;
}
.support-1 {
    margin-left: 50px;
    margin-top: -35px;
    padding-bottom: 80px;
}
.send-1 {
    margin-left: 50px;
    margin-top: -35px;
    padding-bottom: 80px;
}
.camera-1 {
    margin-left: 50px;
    margin-top: -35px;
    padding-bottom: 80px;
}

/* thard page section closed */

/* four page top section start */

.four-page-top-head {
    text-align: center;
    display: block;
    margin: auto;
}
.four-page-top-head h1 {
    color: rgb(0, 89, 255);
    font-size: 35px;
}

/* four page top section closed */

/* four page nav and image section start */

.four-page-nav-bar {
    margin-top: 100px;
    margin-left: 700px;
}
.four-page-nav-bar li {
    display: inline-block;
}
.four-page-nav-bar li a {
    color: black;
    font-weight: bold;
}
li + li {
    padding-left: 50px;
}
.four-page-image {
    margin-top: 100px;
}
.four-page-image img {
    margin-right: -4px;
    margin-top: -4px;
}

/* four page nav and image section closed */

/* five page top section start */

.five-page-top {
    margin-top: 150px;
}
.five-page-top-head {
    text-align: center;
    display: block;
    margin: auto;
}
.five-page-top-head h1 {
    color: rgb(0, 89, 255);
    font-size: 35px;
}

/* five page top section closed */

/* five page image section start */

.five-page-image{
    margin-top: 100px;
    text-align: center;
}
.five-page-image img {
    width: 280px;
    height: 300px;
}
.five-page-col-1 {
    width: 20%;
}
.five-page-col-2 {
    width: 15%;
    margin: 20px;
}
.five-page-col-2 h3 {
    margin-top: 10px;
}
.five-page-col-2 p {
    margin-top: 5px;
}
.five-page-col-3 {
    width: 15%;
    margin: 20px;
} 
.five-page-col-3 h3 {
    margin-top: 10px;
}
.five-page-col-3 p {
    margin-top: 5px;
}
.five-page-col-4 {
    width: 15%;
    margin: 20px;
}
.five-page-col-4 h3 {
    margin-top: 10px;
}
.five-page-col-4 p {
    margin-top: 5px;
}
.five-page-col-5 {
    width: 15%;
    margin: 20px;
}
.five-page-col-5 h3 {
    margin-top: 10px;
}
.five-page-col-5 p {
    margin-top: 5px;
}
.five-page-col-6 {
    width: 20%;
}

/* five page image section closed */

/* six page section start */

.six-page {
    background-image: url(./project-1/Rectangle\ 8\ \(1\).png);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -200px;
}
.six-page-head {
    color: rgb(0, 89, 255);
    width: 100%;
    height: 100px;
    margin-left: 800px;
    display: inline-block;
    margin-top: 250px;
}
.six-page-head img {
    margin-left: 35px;
    margin-top: 15px;
}
.six-page-col-1 {
    width: 20%;
}
.six-page-col-2 {
    width: 15%;
    margin-left: 100px;
    margin-top: 200px;
}
.six-page-col-3 {
    width: 15%;
    margin-left: 100px;
    margin-top: 200px
} 
.six-page-col-4 {
    width: 15%;
    margin-left: 100px;
    margin-top: 200px
}
.six-page-col-5 {
    width: 15%;
    margin-left: 100px;
    margin-top: 200px
}
.six-page-col-6 {
    width: 20%;
}

/* six page section closed */

/* seven page top section start */

.five-page-top {
    margin-top: 150px;
}
.five-page-top-head {
    text-align: center;
    display: block;
    margin: auto;
}
.five-page-top-head h1 {
    color: rgb(0, 89, 255);
    font-size: 35px;
}

.map-section {
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 150px;
}

/* seven page top section closed */

/* footer section start */

footer {
    height: 300px;
    display: flex;
    background-color: black;
    padding-top: 100px;
}
.footer-col-1 {
    width: 15%;
}
.footer-col-2 {
    width: 30%;
    color: #fff;
    line-height: 30px;
}
.footer-col-2 span {
    color: rgb(0, 89, 255);
}
.footer-col-3 {
    width: 25%;
    color: #fff;
    line-height: 30px;
}
.footer-col-3 input {
    border: 2px solid #fff;
    background-color: black;
    height: 40px;
    width: 250px;
}
.footer-col-3 p {
    padding-top: 20px;
}
.footer-col-4 {
    width: 30%;
    display: flex;
    color: #fff;
}
.explore {
    width: 30%;
    margin-top: 60px;
    margin-left: -80px;
}
.explore-1 {
    margin-top: 60px;
}



/* footer section closed */